body
{
	font-size: 0.3em !important;
}

	form[class=form-inline] > div:nth-of-type(2) 
	{
    	width: 50% !important;
    	padding-right: 10px !important;
	}
	form[class=form-inline] > div:nth-of-type(3) 
	{
    	width: 50% !important;
    	
	}
	form[class=form-inline] > select
	{
		margin-left: 50% !important;
		//width: 100px !important;
	}
.inSheet 
{

}
.info {
	height:800 !important;
}
.bg {
	height:0 !important;
}
.logos {
	height:500 !important;

	border: red 1px solid !important;
	height:500 !important;
}
.pictureAndTexDiv {
	border: blue 1px solid !important;
	height:500 !important;
    width: 1% !important;
    display: table !important;
	margin: 0 auto !important; 
}
#floater {
	border: red 1px solid !important;
    float: left !important;
    height: 50% !important;
    width: 100% !important;
    margin-bottom: -50px !important;
}
.cell {
	clear: both !important;
    height: 100px !important;
	border: yellow 1px solid !important;
}

.cell img{
    border: green 1px solid !important;
}
.p-log {
	//height:500 !important;

	
	
}
.p-log-2 {
	
	//height:500 !important;
    width: 1% !important;
    display: table !important;
	margin: 0 auto !important; 
}
.p-log-3 {
    display: table-cell !important;
    height: 320px !important;
    vertical-align: middle

}
.p-log-4 {
}

.p-log-4 img{
    //border: green 1px solid !important;

	max-height:320px !important; 
	width:auto !important;
}
.logo{
  max-width: 400px;
}
div 
{
	//border: red 1px solid !important;
}
table
{
	width:100% !important;
	table-layout:fixed !important;
}
td
{
	padding:10px !important;
	width:50% !important; 
}
.panel-body ul
{
	margin-left:55px !important;
}
h2{
	text-align:center !important;
	//padding-bottom:200

}
h4
{
	//border: 0px solid #ebebeb !important;
}
.p-uni {

}
.p-uni-2 {
 margin-left:5% !important;
 margin-right:5% !important;
 margin-top:10% !important;
}
.p-un {
margin:0 auto
}
.p-un-2 {

}
.napis3 {
	
}
.napis4 {

}

table tr td {
    vertical-align: top !important;
} 

.p-b-center{
	text-align: center !important;
}
.btn btn-default{
	//position: absolute:
   // top: 50% !important;
}